logs
.classpath
.project
.settings
.idea/
.gradle
*.class
*.log
/.gradle/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
derby.log
global-groovy.log
soapui-errors.log
soapui.log
\#.*
*~
classes/
*.iml
!develop/idea-module-files/*.iml
*.ipr
*.iws
.history
sonarlint-state.xml
sonarlint.xml
sonarlint/
.sonar/
idea-module-files/
rebel.xml
*org.moreunit.prefs
org.eclipse.jst.jsp.core.prefs
org.eclipse.wst.validation.prefs
generated-*.jar
*_bof.jar
*.lst
mvnw
mvnw.cmd
/target
